.header {
    background-color: var(--body-color);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh;
}
  
.head {
    margin-top: 2vh;
    font-weight: var( --font-medium);
    color: var(--title-color);
    text-decoration: none;
    font-size: 5vh;
}
