.footer {
    background-color: var(--container-color);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 5vh;
}
  
.foot {
    color: var(--title-color);
    text-decoration: none;
    font-size: 2vh;
}

.url_name{
    color: var(--title-color);
    text-decoration: none;
    font-size: 2vh;
}